@import url("../globalstyles.css");

.product {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-height: 500px; */
  min-width: 100px;
  background-color: white !important;
  padding: 15px;
}
.productInfo {
  height: 100px;
  margin-bottom: 15px;
}
.productPrice {
  margin-top: 5px;
}
.productRating {
  display: flex;
}

.product > img {
  width: min(100%, 250px);
  height: 200px;
  object-fit: cover;
  margin: 7px auto;
  margin-bottom: 15px;
}

.btn2 {
  margin-top: 5px !important;
  padding: 8px 12px !important;
}
